body{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

		.axis{

		}
		.axis--x >.domain{
			opacity: 0;
		}
		.axis-dotted-line{
			opacity: 1;
		}
		.tick > line{
			opacity: 0;
		}
		.tick > text{
			fill:#d7d7d7;
			font-size: 18px;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: normal;
		}
		.value_text{
			text-anchor:middle;
    	    font-size:20px;
    	    fill:#333;
    	    font-family: 'Open Sans Condensed', sans-serif;
    	    font-weight: bold;
		}
		.header{
			color: #333;
		}
		.header > h1{
			text-align: center;
		}
		.packman-ghost-div{
			width: 870px;
			height: 500px;
			background-color: #333;
			margin: 0 auto;
		}